
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: sans-serif;
}

input {
  width: 100%;
  padding: 0.8rem;
  margin: 1rem 0;
  border: none;
  background-color: #f2f2f2;
  border-radius: 5px;
}

@mixin flex($justify, $align, $direction) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  flex-direction: $direction;
}

h1 {
  font-size: 3.2rem;
}

h2 {
  font-size: 1.3rem;
  font-weight: 300;
}

